<!DOCTYPE html>
<html>
<head>
  <title>Confirmar Pedido</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">

</head>
<body>
  <div class="container">
    <h1>Confirmar Pedido</h1>

    <form method="POST">
      {% csrf_token %}
      <label for="order_id">ID do Pedido:</label>
      <input type="text" id="order_id" name="order_id" required>
      <button type="submit">Confirmar</button>
    </form>
    <br>
    <h2>Pedidos:</h2>
    <ul class="orders-container">
      {% for order in orders %}
      <li class="order-item {% if order.is_ready %}order-ready{% else %}order-not-ready{% endif %}">
        <div class="order-info">
          <p>ID: {{ order.id }}</p>
          <p>Cliente: {{ order.client }}</p>
        </div>
        <div class="order-status">
          <p>Status: {% if order.is_ready %}Pronto{% else %}Não Pronto{% endif %}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
