<!DOCTYPE html>
<html>
<head>
  <title>vendedor</title>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">

  <script>

    function newForm() {
      let form = document.querySelector(".create-order-form")
      form.style.display = "block"
    }

    function closeForm() {
      let form = document.querySelector(".create-order-form")
      form.style.display = "none"
    }

    function searchOrders() {
      let input = document.getElementById("search_input").value.toLowerCase();
      let orders = document.getElementsByClassName("order-item");
      
      for (i = 0; i < orders.length; i++) {
        let order = orders[i];
        let id = order.querySelector(".order-id").textContent.toLowerCase();
        let client = order.querySelector(".order-client").textContent.toLowerCase();
        
        if (id.includes(input) || client.includes(input)) {
          order.style.display = "flex";
          order.style.justifyContent = "space-between";
        } else {
          order.style.display = "none";
        }
      }
    }
    function toggleView() {
      const ordersContainer = document.querySelector('.orders-container');
      ordersContainer.classList.toggle('list-view');
    }
    
    currentOrders = orders

  </script>
</head>
<body>
  <div class="container">
    {% comment %} <h1>page.title</h1>
    <h2>page.subtitle</h2>
    <p>page.message page.masChar</p> {% endcomment %}
    <h1>Bem vindo {{user.username}}! (*_*) | setor: {{user.sector}}</h1>
    {% comment %} <button onClick="newForm()">Registrar novo pedido</button> {% endcomment %}
    
    <button id="toggle-view-btn" onclick="toggleView()">Alternar Visualização</button>
    <label for="search_input">Buscar:</label>
    <input type="text" id="search_input" onkeyup="searchOrders()" placeholder="Digite o nome do cliente ou ID do pedido">

    <ul class="orders-container">
      {% for order in orders %}
        {% include 'orderItem.html' %}
      {% endfor %}
    </ul>
    
  </div>
</body>
</html>
